body {
    padding-top: 50px;
    padding-bottom: 0px;
    background-image: url("Images/intersection.png");
    background-repeat: repeat;



}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.footer {
    width: 100%;
    background-color: rgba(9, 19, 43, 0.86);
    color: white;
    text-align: center;
    margin-top: -50px;
    background-image: url("Images/congruent_outline.png");
    background-repeat: repeat;
    box-shadow: 0px -11px 10px #888888;

    height: 100px;

}



.navbar-inverse .navbar-brand {
    color: #f5f5f5;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
    color: #f5f5f5;
    font-family: fantasy;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f5f5f5;
    font-size: 24px;
    font-family: monospace;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #222733;
}

.navbar-inverse {
    background-color: rgba(9, 19, 43, 0.84);
    border-color: #080808;
    box-shadow: -2px 7px 19px black;
}

.navbar-right {
    float: right!important;
    margin-top: -5px;
}

.label-test {
    padding-left: 10px;
}

.dropdown {
    position: relative;
    margin-top: 12px;
}

.img-circle {
    border-radius: 50%;
    width: 40px;
}

.img-home {
    width: 45% !important;


}

.hello-div {
    padding-top: 12px;
    font-size: 23px;
}