
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

    @Html.ActionLink("Add User", "AddUser", "Home")*@

@Html.Partial("_Slider")


<div class="row">
    <div class="col-md-3  well well-sm">

        <div class=" well well-sm">
            <label class="glyphicon glyphicon-plus-sign h3"> Recent Actions:</label>
            <hr />

            <br />
            <br />
            <br />
            <br />
        </div>
        

        <div class=" well well-sm">
            <label class="glyphicon glyphicon-euro h3"> Recent Donations:</label>
            <hr/>

            <br />
            <br />
            <br />
            <br />
        </div>
    </div>


    <div class="col-md-9   well well-sm">
        <h3 align=center>Google Map Below</h3>

        <hr />
        <div class="jumbotron">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-12 jumbotron">

        <h4>Other content here</h4>


    </div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
