
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

    @Html.ActionLink("Add User", "AddUser", "Home")*@

@Html.Partial("_Slider")


<div class="row">
    <div class="col-md-3  well well-lg">

        <h4>Recent Actions:</h4>
        <hr />

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>


    <div class="col-md-6 jumbotron">
        <h4 align="center">Google map Here</h4>
        <hr />

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>


    <div class="col-md-3  well well-lg">

        <h4>Recent Donations:</h4>
        <hr />

        <br /><br />
        <br /><br />
        <br />
    </div>
</div>

<div class="row">

    <div class="col-md-12 jumbotron">

        <h4>Other content here</h4>


    </div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
