
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

@Html.ActionLink("Add User", "AddUser", "Home")*@

    @Html.Partial("_Slider")


<div class="col-md-2 panel panel-primary">
    <br/>
    <br /><br/>
    <br /><br/>
    <br /><br/>
    <br /><br/>
    <br />
</div>


<div class="col-md-8 jumbotron">
    <br/>
    <br /><br/>
    <br /><br/>
    <br /><br/>
    <br /><br/>
    <br />
</div>


<div class="col-md-2 panel panel-primary">
    <br/>
    <br /><br/>
    <br /><br/>
    <br /><br/>
    <br />
</div>


<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
